* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
:root /*variables*/{
    --blue-logo: #0A2233;
    --soft-grey: #f3e9df;
    --secondary-blue: #1A9AF7;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    
}